<html>

<head>
    <title>Pagina 404 </title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    
</head>
<body style="background-color:dodgerblue;">
    <div >
        <div style="padding-top: 100px; text-align: center;">
            <h1>404</h1>
        </div>
        <div style="padding: 50px; text-align: center;">
            <p>Lo sentimos, pero la pagina que buscas no existe</p>
            <div style="padding-top: 10px;" >
                <a href="/" class="btn"> Ir a inicio</a>
            </div>
        </div>
    </div>
</body>

</html>
<style>
    a{
        background-color:midnightblue;
        color: white;
    }
    h1{
        font-size: 14em;
    }
    p{
        font-size: 1.9em;
    }
    body{
        color: white;
    }
</style>